body {
  margin: 0;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.col1 {
  background-color: rgba(8, 8, 8, 0.986);
  height: calc(100vh - 148px);
  color: white;   
  position: relative;
}

.resizeable {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 4px;
  position: absolute;
}

.col1 h4{
  text-transform: capitalize;
}

.col2 {
  background-color: black;
  height: calc(100vh - 148px);
  padding: 0px;
  color: white;
  overflow-x: scroll;
}

.react-codemirror2 .CodeMirror:nth-child(1) {
  display: none;
}

.CodeMirror {
  height: 150px !important;
}

.editor-title {
  margin-left: 1.5rem; 
  padding: 0.2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

h4{
  font-size: 15px;
}

.editor-title button  {
  padding: 0px 16px;
  margin-right: 1em;
  background-color: #0D6EFD; 
}

.entity-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:rgba(222, 216, 216, 0.986)
}

.entity-container {
  padding: 8px 6px;
}

.entity-container span {
  margin: 8px;
  cursor: pointer;
}

.entity-container .dropdown {
  max-height: 0;
  opacity: 0;
  margin: 0px 18px;
  pointer-events: none;
}

.droppedDown {
  max-height: 1000px;
  opacity: 1;
  pointer-events: auto; 
  cursor: pointer;
}