body {
  margin: 0;
}

*::-webkit-scrollbar {
  width: 6px;
  /* background-color: black; */
}

*::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 4px;
  background-color: #2961d1a8;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.col1 {
  background-color: rgba(8, 8, 8, 0.986);
  height: calc(100vh - 132px);
  color: white;   
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0px;
}

.col1 h4{
  text-transform: capitalize;
  margin-left: 1.5rem;
  margin-top: 14px;
}

.col2 {
  background-color: black;
  height: calc(100vh - 132px);
  padding: 0px;
  color: white;
  overflow: hidden;
}

/* .react-codemirror2 .CodeMirror:nth-child(1) {
  display: none;
} */

.CodeMirror {
  height: 150px !important;
}

.editor-title {
  margin-left: 1.5rem; 
  padding: 0.2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

h4{
  font-size: 16px;
  font-weight: 200;
}

.editor-title button  {
  padding: 0px 16px;
  margin-right: 1em;
  background-color: #0D6EFD; 
  font-weight: 0;
}

.entity-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:rgba(222, 216, 216, 0.986)
}

.entity-container i{
  color: #0D6EFD;
}

.entity-container span {
  margin: 8px;
  cursor: pointer;
}

.entity-container .dropdown {
  max-height: 0;
  opacity: 0;
  margin: 0px 18px;
  pointer-events: none;
}

.entHead {
  width: 100%;
  padding: 4px 8px;
}

.entHead i{
  margin-left: 10px;
}

.droppedDown {
  max-height: 1000px;
  opacity: 1;
  pointer-events: auto; 
  cursor: pointer;
  margin: 2px 0px 2px 0px;
  color: rgb(176, 174, 174);
}

.droppedDown i { 
  margin: 0px 10px 0px 40px;
}

.dropdown-item:hover {
  background-color: rgb(233 226 226 / 10%); 
  color: white;
}

.dropdown-item {
  margin: 4px 0px;
  padding: 4px 0px 4px 8px;
}

.bgChange {
  background-color: rgb(91 68 201 / 25%);
  color: white;
}

.rightIcon {
  color: grey !important;
} 

.bgChange .rightIcon {
  transform: rotateZ(90deg);
} 

td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outputBox {
  justify-content: center;
  vertical-align: middle;
}

.outputBox h4 {
  margin: 12px 3px;
}

.tableBox {
  max-height: 370px;
  overflow-y: scroll;
}

.text {
  color: grey;
  text-align: center;
  margin-top: 8rem;
  font-size: 16px;
}

.footC {
  max-height: 70px;
  padding: 20px;
}